
  .main-father{
      @include flex-center-col;
      width: 70vw;
      height: 60vh;
      .Info-img-bottom{
        @include flex-spacebetween-row;
        width: 35vw;
        height: 10vh;
        width: 22vw;
      }
  
  .line{
    border-bottom: 1px solid gray;
    height: 1vh;
    width: 50%;
  }
   
  .Menue-father{
      @include flex-spacebetween-row;
  height: 4vh;
  width: 50%;
  .menue{
    @include flex-center-row;
    height: 4vh;
    width: 8vw;
  }
  }
  .image-father{
      @include flex-photo;
      width: 65vw;
      height: 66vh;
      border: 1px solid red;
    
      .image {
        width: 300px;
        height: 400px; 

        .like {
          color: #ffffff;
          font-size: 1rem;
          font-weight: bold;
        }
        
        .image--description {
          font-size: 1.3em;
        }
        .fa-heart{
          color: white;
          font-size: 2rem;
          width: 4vw;
        }
        .fa-comment{
          color: white;
          font-size: 2rem;
        }
        .comment{
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }
    .image--overlay {
      width: 300px;
      height: 300px;
      position: relative;
      @include flex-center-col;
      top: -34vh;
      background-color: rgba(0, 0, 0, 0.089);
      color: white;
      opacity: 0;
      transition: 1s;
      &:hover {
        opacity:1 ;
        cursor: pointer;
      }
      .like-up-father{
        @include flex-center-row;
        height: 2vh;
        width: 8vw;
          .like-father{
      @include flex-center-row;
      height: 2vh;
      width: 4vw;
      .like-father{
        @include flex-center-row;
        height: 2vh;
        width: 8vw;
        .like {
          color: #ffffff;
          font-size: 1rem;
          font-weight: bold;
        }
        
        .image--description {
          font-size: 1.3em;
        }
        .fa-heart{
          color: white;
          font-size: 2rem;
          width: 4vw;
        }
        .fa-comment{
          color: white;
          font-size: 2rem;
          
        }
        .comment{
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }
      }
    }
    li{
      list-style: none;
    }
  } 