.Nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 4vh;
    width: 50;    
}
.icon-father{
    @include flex-spacebetween-row;
    width: 8vw;
}

.Nav-img{
    height: 2vh;
    width: 10vw;
}
form{
    width: 12vw;
}
a{
    color: black;
    margin-top: 1vh;
}
input{
    text-align: center;

}
.img-icon{
    height: 3vh;
    width: 2vw;
    border-radius: 50%;
    
}