.Nav{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    height: 4vh;
    width: 66vw;
    position: relative;
    top: -20vh;
    left: 12vw;
}
.Nav-photo-father{
    height: 2vw;
    width: 12vw;

}
.Nav-img{
    height: 2vh;
    width: 10vw;
}
form{
    width: 33%;
}
a{
    color: black;
}
input{
    text-align: center;

}
.img-icon{
    height: 3vh;
    width: 2vw;
    border-radius: 50%;
    position: relative;
    left: -0.3vw;
    top: 0.5vh;
}
